
@import url('https://fonts.cdnfonts.com/css/jersey-10');

@tailwind base;
@tailwind components;

.jersey-10-regular {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.border-white, .border-white\/30 {
  background: linear-gradient(90deg, #0038FF 0%, #FF00C7 50%, #0038FF 100%);
  background-size: 200% 100%;
  background-clip: padding-box;
  animation: shimmer 9s linear infinite;
}

.shimmer-text {
  background: linear-gradient(90deg, #0038FF 0%, #FF00C7 50%, #0038FF 100%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shimmer 9s linear infinite;
}

@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}