
@tailwind base;
@tailwind components;
@tailwind utilities;

.shimmer-text {
  background: linear-gradient(to right, #fff 20%, #a0a0a0 40%, #fff 60%);
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}
